.App {
  position: relative;
  display: flex;
  text-align: center;
  height: 100vh;
  background-color: whitesmoke;
}

.LoadingPage{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;   
  visibility: visible;
  opacity: 1;
}

.LoadingPage img{
  width: 50%;
}

.LoginContainer{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

.LoginPanelImageOverlay{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(245, 245, 245, 0.05)95%, rgba(245, 245, 245, 0.15) 96%, rgba(245, 245, 245, 0.5) 98%, rgba(245, 245, 245, 0.98) 100%);
}

.LoginPanelImage{
  position: relative;
  display: flex;
  background-color: transparent;
  width: 60%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.LoginPanelCurrentImage{
  position: absolute;
  height: 100%;
  opacity: 0;
}

.LoginPanelImageBar{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom:75px;
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 20px;
  height: auto;
  width: auto;
}

.LoginPanelImageIcon{
  position: relative;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 10px;
  filter: brightness(0.45);
  transition: transform 500ms ease-in, filter 500ms ease-in;
}

.LoginPanelImageIcon:hover{
  transform: scale(1.23);
  filter: brightness(1)
}

.enlarge{
  transform: scale(1.23);
  filter: brightness(1)
}

.LoginPanelForm{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  overflow-y: hidden;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.LoginPanelFormSecOuter{
  display: flex;
  justify-content: center;
  width: 100%;

}

.LoginPanelFormSecInner{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: fit-content;
  margin-top: 10%;
}

.LoginPanelIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background: rgb(225, 225, 225);
  border-radius: 150px;
  overflow: hidden;
  margin: 40px 0 60px 0;
}

.LoginPanelIcon img{
  height: 120px;
  width: 120px;
}

.LoginPanelFormSecInner form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.LoginPanelFormSecInner input{
  background: rgb(225, 225, 225);
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 10px;
  height: 40px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 25px;
}

.RememberMe{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 150px;
  justify-content: space-evenly;
  margin: 0 0 20px 0;
}

.RememberMe input{
  height: 20px;
  width: 20px;
  margin: 0;
}

.LoginPanelFormSubmit{
  height: 35px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(160deg, rgb(114, 223, 42)10%, rgb(72, 129, 18)100% );
  color: whitesmoke;
  font-size: 18px;
}

.LoginPanelFormErrors{
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.fade-in{
  opacity: 1;
  transition: opacity 800ms linear;
}

.LoginPanelFormFooter{
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(168deg, whitesmoke 0%, rgb(212, 212, 212) 80%);
}

.LoginPanelFormFooter p{
  font-size: 14px;
  color: gray;
}

.CompanySelectContainer{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
}

.CreateCompanyBack{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.CreateCompanyBack img{
  width: 70px;
  height: 70px;
}

.CompanySelectLogout{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  top: 15px;
  height: 65px;
  width: 65px;
  border: 3px solid whitesmoke;
  border-style: groove;
  border-radius: 10px;
  background-color: whitesmoke;
  overflow: hidden;
}

.CompanySelectLogout:active{
  border-style: inset;
}

.CompanySelectLogout img{
  width: 50px;
  height: 50px;
  transform: translateX(-5px);
}

.CompanySelectCreateCompany{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  bottom: 50px;
  height: 65px;
  width: 65px;
  border: 2px;
  border-style: dashed;
  border-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.CompanySelectCreateCompany img{
  height: 35px;
  width: 35px;
}


.CompanySelectContainerBGImage{
  position: absolute;
  height: 100%;
  width: 100%;
  filter: brightness(0.7) grayscale(0.3);
}

.CompanySelectHeader{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgb(200, 200, 200) 0%, whitesmoke 50%, rgb(200, 200, 200) 100%);
  overflow: hidden;
}

.CompanySelectHeaderTitle{
  position: relative;
}

.CompanySelectHeaderTitle p{
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

.CompanySelectHeaderImage{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.CompanySelectHeaderImage img{
  position: absolute;
  min-width: 2000px;
  height: 380px;
  filter: brightness(0.45);
  transform: translateY(50px);
}

.CompanySelectParents,
.CompanySelectChildren{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30px;
  overflow: hidden;
  transition: height 600ms ease-in-out;
}

.CompanySelectParentsTitle,
.CompanySelectChildrenTitle{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  flex-wrap: nowrap;
}

.CompanySelectParentsTitle img,
.CompanySelectChildrenTitle img{
  height: 15px;
  width: 15px;
  margin: 0 5px 0 5px;
}

.CompanySelectParentsTitle p,
.CompanySelectChildrenTitle p{
  margin: 0;
  font-size: 18px;
  font-weight: 550;
}

.CompanySelectParentsTitle p:last-child,
.CompanySelectChildrenTitle p:last-child{
  margin: 0 0 0 6px;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

.CompanySelectCardsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.CompanySelectCardContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 25px;
}

.CompanySelectCard{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  border: 1px solid #888;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.8);
}

.CompanySelectCardTitle{
  position: relative;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.CompanySelectCardTitleText{
  width: 250px;
}

.CompanySelectCardTitleText p{
  display: flex;
  align-items: center;
  white-space: normal;
  margin: 0 0 0 15px;
  min-height: 50px;
  font-weight: 800;
  font-size: 18px;
}

.CompanySelectCardImage{
  position: relative;
  width: 50px;
  height: 50px;
}

.CompanySelectCardImage img{
  width: 50px;
  height: 50px;
}

.CompanySelectSnapshot{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  background-color:rgb(223, 224, 226);
  border: 0.8px;
  border-style: inset;
}

.CompanySelectSnapshotTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color:rgb(198, 203, 206);
}

.CompanySelectSnapshotTitle p{
  margin: 0;
}

.CompanySelectSnapshotAsset,
.CompanySelectSnapshotLiability,
.CompanySelectSnapshotEquity{
  display: flex;
}

.CompanySelectSnapshotAsset p,
.CompanySelectSnapshotLiability p,
.CompanySelectSnapshotEquity p{
  margin-left: 10px;
}

.CompanySelectDetails{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.CompanySelectDetailsTextContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  width: 250px;
}

.CompanySelectDetailsTextContainer p{
  margin: 1px 0 2px 10px;
}

.CompanySelectDetailsTextA{
  width: 100%;
  height: 70px;
  background-color: rgb(245, 245, 245);
}

.CompanySelectDetailsTextB{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background-color:rgb(198, 203, 206);
}

.CompanySelectDetailsSubText{
  display: flex;
  flex-direction: row;
}

.CompanySelectDetailsSubText p:first-child{
  white-space: nowrap;
}

.CompanySelectDetailsSubText p:last-child{
  text-align: left;
}

.CompanySelectDetailsIcons{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50px;
  background-color: white;
}

.CompanySelectDetailsIcons img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50px;
  border-bottom: 1px solid #888;
}

.CompanySelectDetailsIcons p{
  display: flex;
  height: 50%;
  width: 50px;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #888;
}

.CompanySelectCardActionsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90px;
}


.CompanySelectCardActionsBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  border-radius: 60px;
  background-color: white;
  overflow: hidden;
  border: 1.5px solid #888;
  border-style: outset;
  filter: brightness(1);
  transition: filter 300ms ease-in-out, border 300ms ease-in-out;
}

.CompanySelectCardActionsBtn:hover{
  filter: brightness(0.85);
}

.CompanySelectCardActionsBtn:active{
  border-style: inset;
}

.CompanySelectCardActionsBtn img{
  height: 45px;
  width: 45px;
}

.DetailPageContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  background-color: aqua;
}

.DetailPagePanelTree{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 350px;
  height: 100%;
  background-color: blueviolet;
}

.DetailPagePanelDetails{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.DetailsPagePanelTreeTitle{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: thistle;
}

.DetailsPagePanelTreeTitle p{
  margin: 0px;
  font-size: 28px;
}

.CreateCompanyContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.CreateCompanyContainerBG{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.CreateCompanyContainerBG img{
  width: 100%;
  height: 100%;
  filter: brightness(0.45);
}

.CreateCompanyFormContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 81, 78, 0.5);
}

.CreateCompanyForm{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 85%;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.30);
}

.CreateCompanyFormSubmit{
  position: absolute;
  right: 30px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  overflow: hidden;
  background-color: lightgreen;
  border-radius: 10px;
}

.CreateCompanyFormSubmit img{
  height: 50px;
  width: 50px;
}

.CreateCompanyFormLeft{
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  overflow: hidden;
}

.CreateCompanyFormLeftTop{
  width: 100%;
  height: 55%;
}

.CreateCompanyFormLeftBottom{
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CreateCompanyFormRight{
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.CreateCompanyLogo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.CreateCompanyLogo img{
  height: 320px;
  width: 320px;
}

.CreateCompanyLogo input{
  height: 25px;
  width: 250px;
  border-radius: 5px;
  margin-top: 30px;
  padding-left: 5px;
  font-size: 18px;
}

.CreateCompanyEmptyLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 10px solid white;
  border-radius: 5px;
  border-style: dashed;
  overflow: hidden;
}

.CreateCompanyEmptyLogo img{
  width: 225px;
  height: 225px;
}

.CreateCompanyDescription{
  height: 250px;
  width: 80%;
  overflow: hidden;
}

.CreateCompanyDescription textarea{
  height: 100%;
  width: 100%;
  font-size: 18px;
}

.CreateCompanyDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.CreateCompanyEstDate{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.CreateCompanyEstDate p{
  display: flex;
  font-size: 24px;
  margin: 10px;
}

.CreateCompanyEstDate input{
  height: 25px;
  width: 350px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.CreateCompanyName{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CreateCompanyName input{
  height: 25px;
  width: 350px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.CreateCompanyName p:first-child{
  display: flex;
  font-size: 24px;
  margin: 10px;
}

.CreateCompanyName div{
  display: flex;
  flex: row;
}

.CreateCompanyName p:last-child{
  font-style: italic;
}

.CreateCompanyLocation{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.CreateCompanyLocation div{
  display: flex;
  flex-direction: row;
}

.CreateCompanyLocation p{
  display: flex;
  font-size: 24px;
  margin: 10px;
}

.CreateCompanyLocation input{
  height: 25px;
  width: 350px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.CreateCompanySubSecA{
  display: flex;
  flex-direction: row;
}

.CreateCompanySpecs{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
}

.CreateCompanyStructure,
.CreateCompanyOrganization,
.CreateCompanyModel{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.CreateCompanyStructure p,
.CreateCompanyOrganization p,
.CreateCompanyModel p{
  font-size: 24px;
  margin: 10px;
}

.CreateCompanyStructure select,
.CreateCompanyOrganization select,
.CreateCompanyModel select{
  height: 40px;
  width: 350px;
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
  border: 2px inset rgb(118, 118, 118);
}


.CreateCompanyParent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
}

.CreateCompanyParent input{
  width: 25px;
  height: 25px;
}

.CreateCompanyParent p{
  font-size: 18px;
  margin: 10px;
  font-style: italic;
}

.CreateCompanyParentSelectSec{
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom:15px;
}

.CreateCompanyParentSelect{
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  border: 2px inset rgb(118, 118, 118);
  visibility: visible;
  opacity: 1;
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
}

.CreateCompanyParentPanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 150px;
  width: 100%;
  border: 5px dashed rgb(190, 190, 190);
  border-radius: 5px;
  background-color: rgba(169, 169, 169, 0.6);
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
}

.CreateCompanyParentPanel p{
  margin: 5px 0px 5px 5px;
  font-size: 16px;
  font-style: normal;
}

.CreateCompanyParentPanelTop{
  display: flex;
  flex-direction: row;
}


.CreateCompanyParentPanelBottom{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.CreateCompanyParentPanelBottomLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 65%;
}


.CreateCompanyParentPanelBottomRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
}

.CreateCompanyParentPanelBottomLeft div,
.CreateCompanyParentPanelBottomRight div{
  display: flex;
  flex-direction: row;
}

.CreateCompanyParentPanelTop p:first-child,
.CreateCompanyParentPanelBottomLeft p:first-child,
.CreateCompanyParentPanelBottomRight p:first-child{
  font-weight: bold;
}

.CreateCompanyErrorOverlay,
.CreateCompanySuccessOverlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.92);
  visibility: visible;
  opacity: 1;
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
}

.CreateCompanyErrorContainer,
.CreateCompanySuccessContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 600px;
  border-radius: 10px;
  background-color: rgb(207, 207, 207);
  overflow: hidden;
}

.CreateCompanyErrorTitle{
  width: 100%;
  background-color: rgba(245, 245, 245, 0.98);
}

.CreateCompanyErrorTitle p{
  font-size: 24px;
  font-weight: 800;
}

.CreateCompanyErrorMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.CreateCompanyErrorMessage p,
.CreateCompanySuccessMessage p{
  font-size: 20px;
  font-weight: 600;
}

.CreateCompanyErrorBtn button{
  background-color: green;
  color: whitesmoke;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  height: 40px;
  width: 100px;
  border: 1px solid grey;
}

.hidden{
  position: absolute;
  height: 0;
  width: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.csExpand{
  height: 100%;
}

.Divider{
  position: relative;
  display: flex;
  border-top: 3px solid lightgrey;
  min-width: 100%;
}